#__author__ = 'Liam TrinhNguyen'
#__contributors__ = ['N/A']
#__email__ = [ 'LiamTrinhNguyen@gmail.com or TrinhNguyen@wisc.edu']
#__version__ = ['preLim v0.1.0']
# Copy this file to .env and change the value that match to the input data path + output data path.
# CAUTION: (1) using the forward slash. If needed using the back slash, using double slash
#          (2) this file should only contains simple key-value pairs
#              <all value will be converts to string.>


WSLH_OUTPUT_DIR = /volumes/lacie/Nadp/NTN_DATA_DOC_AND_SCRIPT/NTN_review_2026/testing_ouput_NTN2026/
WSLH_THRESHOLD = 0.05
WSLH_THRESHOLD_EXTREME = 0.30
WSLH_DRIVE = ODBC Driver 17 for SQL Server
WSLH_SERVER =
